name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'
    - name: Install node modules
      run: npm install
    - name: Install playwright
      run: npx playwright install
    - name: Start Backend
      run: npm run start-be &
    - name: Wait 5 seconds
      run: sleep 5
    - name: Start FrontEnd
      run: npm run start-fe &
    - name: Start integration tests
      run: npm test

  deploy-backend:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.MY_RENDER_SERVICE_ID }}
          api-key: ${{ secrets.MY_RENDER_API_KEY }}
      - name: Wait 120 seconds
        run: sleep 120
      